body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.bigdiv {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1B365D;
  font-size: 16px;
  font-weight: 400;
  margin-left: 350px;
  cursor: pointer;
}

li {
  list-style: none;
  padding-left: 80px;
  margin-top: 5px;
}

.LogInto {
  margin-left: 70px;
  width: 92px;
  height: 29px;
  color: #1B365D;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 700;
  border: 1px solid #A7BBC9;
  border-radius: 7%;
}

.logo {
  margin-left: 30px;
  margin-top: 10px;
}

.privetstvennoe_foto {
  width: 98vw;
  position: relative;
}

.big_text_na_foto {
  display: block;
  position: relative;
  color: #1B365D;
  font-weight: 700;
  font-size: 56px;
  line-height: 61px;
  margin-top: -500px;
  margin-left: 70px;
}

.text_pod_text_pod_foto {
  display: block;
  position: relative;
  color: #434141;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: -20px;
  margin-left: 75px;
}

.Watch_the_Demo {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 70px;
  width: 186px;
  height: 46px;
  line-height: 20px;
  color: #1B365D;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 45%;
}

.Compare_Portals {
  display: block;
  position: relative;
  margin-top: -50px;
  margin-left: 250px;
  width: 186px;
  height: 46px;
  line-height: 20px;
  color: #1B365D;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 45%;
}

.pink {
  background: #F1C0C7;
  display: block;
  position: relative;
  width: 450px;
  height: 86px;
  margin-top: 130px;
}

.text_na_rozovom {
  color: #1B365D;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  margin-left: 170px;
  margin-top: -60px;
}

.Ship_to_multiple {
  color: #1B365D;
  cursor: pointer;
  font-weight: 300px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 170px;
  margin-top: -5px;
}

.tehnika {
  width: 84px;
  height: 54px;
  margin-top: 20px;
  margin-left: 75px;
}

.chetverty_foto, .tretye_foto, .vtoroy_foto, .pervoe_foto {
  width: 280px;
  height: 560px;
  margin-top: 70px;
}

.text_zagolovok_4, .text_zagolovok_3, .text_zagolovok_2, .text_zagolovok {
  margin-top: -130px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 24px;
}

.messedg_text_pod_zagolovok_4, .messedg_text_pod_zagolovok_3, .messedg_text_pod_zagolovok_2, .messedg_text_pod_zagolovok {
  margin-top: -10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.messedg_text_pod_pod_zagolovok_4, .messedg_text_pod_pod_zagolovok_3, .messedg_text_pod_pod_zagolovok_2, .messedg_text_pod_pod_zagolovok {
  margin-top: -10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.pervy_div {
  margin-left: -70px;
  margin-top: 20px;
}

.vtoroy_div {
  margin-left: 230px;
  margin-top: -620px;
}

.tretye_div {
  margin-left: 530px;
  margin-top: -620px;
}

.chetverty_div {
  margin-left: 830px;
  margin-top: -620px;
}

.pervoe_foto {
  margin-left: 80px;
}

.text_zagolovok {
  margin-left: 170px;
}

.messedg_text_pod_zagolovok {
  margin-left: 130px;
}

.messedg_text_pod_pod_zagolovok {
  margin-left: 190px;
}

.vtoroy_foto {
  margin-left: 80px;
}

.text_zagolovok_2 {
  margin-left: 190px;
}

.messedg_text_pod_zagolovok_2 {
  margin-left: 140px;
}

.messedg_text_pod_pod_zagolovok_2 {
  margin-left: 190px;
}

.tretye_foto {
  margin-left: 80px;
}

.text_zagolovok_3 {
  margin-left: 190px;
}

.messedg_text_pod_zagolovok_3 {
  margin-left: 140px;
}

.messedg_text_pod_pod_zagolovok_3 {
  margin-left: 190px;
}

.chetverty_foto {
  margin-left: 80px;
}

.text_zagolovok_4 {
  margin-left: 170px;
}

.messedg_text_pod_zagolovok_4 {
  margin-left: 140px;
}

.messedg_text_pod_pod_zagolovok_4 {
  margin-left: 195px;
}

.Smart_Camera {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #1B365D;
  margin-left: 70px;
  margin-top: 70px;
}

.prosto_fotka {
  max-width: 1200px;
  margin: 0 auto;
  width: 1064px;
  height: 632px;
  margin-left: 70px;
}

.Keeps_everyone_in, .Keeps_up_with {
  font-weight: 700;
  color: #1B365D;
  line-height: 30px;
  font-size: 24px;
  padding-top: 270px;
}

.As_more_people_enter, .Smart_Camera_automatically {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #434141;
}

.learn_moree_2, .learn_moree {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1B365D;
}

.div_blue {
  background-color: #D0E8EA;
  height: 497px;
  width: 1200px;
  margin-top: -250px;
}

.Keeps_up_with {
  margin-left: 160px;
}

.Smart_Camera_automatically {
  margin-left: 160px;
}

.learn_moree {
  margin-left: 160px;
}

.Keeps_everyone_in {
  margin-left: 600px;
  margin-top: -440px;
}

.As_more_people_enter {
  margin-left: 600px;
  margin-top: 19px;
}

.learn_moree_2 {
  margin-top: 25px;
  margin-left: 600px;
}

.foto_s_ikonkami {
  margin-top: -90px;
  margin-left: 0px;
}

.whatsap_foto, .twitter_foto {
  width: 60px;
  height: 60px;
}

.twitter_foto {
  margin-left: 650px;
}

.whatsap_foto {
  padding-top: 30px;
  margin-left: 750px;
  padding-top: 50px;
}

.twitter_foto_2 {
  margin-top: -64px;
}

.Messenger_and_WhatsApp {
  color: #1B365D;
  font-weight: 400;
  line-height: 55px;
  font-size: 50px;
  margin-left: 650px;
  margin-top: -520px;
}

.tesssst {
  margin-left: 0px;
}

.pod_Messenger_and_WhatsApp {
  color: #615E5C;
  font-weight: 400;
  line-height: 23px;
  font-size: 17px;
  margin-left: 655px;
  margin-top: 30px;
}

.Hey_Portal {
  color: #AEABA8;
  font-weight: 400;
  line-height: 18px;
  font-size: 11px;
  margin-left: 655px;
  margin-top: 30px;
}

.big_foto {
  margin-top: 200px;
  width: 98vw;
  position: relative;
}

.Be_the_story {
  margin-top: -340px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
}

.palochka_golubaya {
  border-left: 4px solid #ADD4E0;
  width: 800px;
  position: relative;
  margin-left: 50px;
  height: 200px;
}

.AR_effects {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  margin-top: -10px;
}

.palochka_seraya_1 {
  border-left: 4px solid #615E5C;
  width: 800px;
  position: relative;
  margin-left: 50px;
  height: 20px;
  margin-top: -20px;
}

.Discover {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.AR_masks {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-top: 10px;
  border-radius: 50%;
}

.palochka_seraya_2 {
  border-left: 4px solid #615E5C;
  width: 800px;
  position: relative;
  margin-left: 50px;
  height: 20px;
  margin-top: 40px;
}

.picture-perfect {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-top: 10px;
  border-radius: 50%;
}

.palochka_seraya_3 {
  border-left: 4px solid #615E5C;
  width: 800px;
  position: relative;
  margin-left: 50px;
  height: 20px;
  margin-top: 20px;
}

.planhet_foto {
  width: 790px;
  height: 400px;
  margin-top: -70px;
  margin-left: 450px;
}

.logo_2 {
  position: relative;
  padding-top: 110px;
  margin-left: 60px;
}

.Alexa_Built {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #1B365D;
  margin-top: -320px;
  margin-left: 60px;
}

.Just_ask {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #1B365D;
  margin-top: 10px;
  margin-left: 60px;
}

.button_Learn_More {
  margin-top: 20px;
  margin-left: 60px;
  width: 126px;
  height: 46px;
  line-height: 20px;
  color: #1B365D;
  cursor: pointer;
  background-color: #ADD4E0;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 40%;
}

.Amazon_Alexa_and_all {
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #AEABA8;
  margin-top: 60px;
  margin-left: 640px;
}

.Work_smarter_from_home, .Private_by_design {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.BlueJeans, .And_all_Portal_video {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.text_na_foto_pod_pod_girny_belyy, .text_na_foto_pod_pod_girny {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

._2_foto_s_textom, ._1_foto_s_textom {
  width: 550px;
  height: 550px;
}

._1_foto_s_textom {
  margin-left: 60px;
  margin-top: 60px;
}

.Private_by_design {
  color: #1B365D;
  margin-left: 100px;
  margin-top: -510px;
}

.And_all_Portal_video {
  color: #434141;
  margin-left: 100px;
  margin-top: 10px;
}

.text_na_foto_pod_pod_girny {
  color: #1B365D;
  margin-top: 20px;
  margin-left: 100px;
}

._2_foto_s_textom {
  margin-left: 630px;
  margin-top: -197px;
}

.Work_smarter_from_home {
  color: rgb(255, 255, 255);
  margin-left: 670px;
  margin-top: -510px;
}

.BlueJeans {
  color: rgb(255, 255, 255);
  margin-left: 670px;
  margin-top: 10px;
}

.text_na_foto_pod_pod_girny_belyy {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-left: 670px;
}

.div_s_textami_1 {
  margin-left: -20px;
}

.div_s_textami_2 {
  margin-left: -10px;
}

.niz_goluboy_div {
  background-color: #D0E7EA;
  height: 1200px;
  width: 1200px;
  margin-top: 80px;
}

.Find_the_Portal {
  margin-left: 40px;
  padding-top: 300px;
  color: #1B365D;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
}

.tehnika_2 {
  margin-top: 0px;
  margin-left: 40px;
  width: 84px;
  height: 54px;
}

.text_na_rozovom_2 {
  color: #1B365D;
  cursor: pointer;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  margin-left: 140px;
  margin-top: -60px;
}

.Ship_to_multiple_2 {
  color: #1B365D;
  cursor: pointer;
  font-weight: 400px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 140px;
  margin-top: -12px;
}

.malenky_div_4, .malenky_div_3, .malenky_div_2, .malenky_div_1 {
  width: 270px;
  height: 510px;
  background-color: #F7F7F7;
  margin-top: 60px;
}

.Portal_TV {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1B365D;
}

.Smart_video_calling {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.dollor_1 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #1B365D;
}

.cena_1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1B365D;
}

.button_Buy_Now_1 {
  width: 108px;
  height: 46px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #1877F2;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 40%;
}

.text_pod_button_1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.malenky_div_1 {
  margin-left: 30px;
}

.Portal_TV {
  padding-top: 20px;
  margin-left: 20px;
}

.dollor_1 {
  margin-left: 220px;
  margin-top: -40px;
}

.cena_1 {
  margin-left: 230px;
  margin-top: -25px;
}

.reklama_1 {
  margin-left: 40px;
  margin-top: -10px;
}

.Smart_video_calling {
  margin-left: 65px;
  margin-top: 30px;
}

.button_Buy_Now_1 {
  margin-top: 20px;
  margin-left: 80px;
}

.text_pod_button_1 {
  margin-top: 30px;
  margin-left: 100px;
}

.malenky_div_2 {
  margin-left: 320px;
  margin-top: -530px;
}

.malenky_div_3 {
  margin-left: 610px;
  margin-top: -530px;
}

.malenky_div_4 {
  margin-left: 900px;
  margin-top: -530px;
}

.Compare_Products {
  width: 198px;
  height: 46px;
  line-height: 20px;
  color: #1B365D;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 40%;
  margin-left: 500px;
  margin-top: 40px;
}

.div_pdvala {
  background-color: #272E38;
  width: 1200px;
  height: 617px;
}

.logo_v_nizu {
  width: 128px;
  height: 62px;
  padding-top: 80px;
  margin-left: 60px;
}

.Sitemap, .Support, .Private_by_Design, .Features, .Products, .Home {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #DADBDD;
  cursor: pointer;
}

.bolchoy_text_vnizu_3, .bolchoy_text_vnizu_2, .bolchoy_text_vnizu_1 {
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #9CA5B0;
}

._1_stolbec_text_podvala {
  padding-top: 10px;
  margin-left: -30px;
}

._2_stolbec_text_podvala {
  margin-left: 200px;
  margin-top: -239px;
}

.Home {
  margin-left: 380px;
  margin-top: -70px;
}

.Products {
  margin-left: 380px;
  margin-top: 20px;
}

.Features {
  margin-left: 380px;
  margin-top: 20px;
}

.Private_by_Design {
  margin-left: 380px;
  margin-top: 20px;
}

.Support {
  margin-left: 380px;
  margin-top: 20px;
}

.Sitemap {
  margin-left: 380px;
  margin-top: 20px;
}

.text_podval_sleva {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: -239px;
  margin-left: 800px;
  color: #9CA5B0;
}

.Compare_Products_2 {
  width: 103px;
  height: 40px;
  line-height: 20px;
  color: #1B365D;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 40%;
  margin-left: 800px;
  margin-top: 10px;
}

.div_podval_malenky {
  border: 1px solid #3D434C;
  border-radius: 10%;
  width: 250px;
  height: 40px;
  margin-left: 800px;
  margin-top: 50px;
}

.United_States {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 65px;
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
}

.English {
  font-weight: 400;
  font-size: 11px;
  line-height: 17px;
  color: #9CA5B0;
  margin-top: -28px;
  margin-left: 140px;
}

.bolchoy_text_vnizu_1 {
  margin-left: 350px;
  margin-top: 100px;
}

.bolchoy_text_vnizu_2 {
  margin-left: 350px;
  margin-top: 20px;
}

.bolchoy_text_vnizu_3 {
  margin-left: 350px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .Watch_the_Demo {
    margin-left: 200px;
    width: 186px;
    height: 46px;
    line-height: 20px;
  }
}
@media (max-width: 1024px) {
  .logo {
    margin-left: 30px;
  }
  ul {
    margin-left: 20px;
  }
  .big_text_na_foto {
    font-size: 40px;
    line-height: 40px;
    margin-top: -350px;
  }
  .text_pod_text_pod_foto {
    font-size: 18px;
  }
  .Watch_the_Demo {
    margin-left: 70px;
    width: 140px;
    font-size: 12px;
  }
  .Compare_Portals {
    margin-left: 190px;
    margin-top: -50px;
    font-size: 12px;
  }
  .pink {
    margin-top: 60px;
    width: 340px;
    height: 80px;
  }
  .text_na_rozovom {
    font-size: 12px;
  }
  .Ship_to_multiple {
    line-height: 15px;
    font-size: 12px;
    margin-top: -10px;
  }
  .tehnika {
    width: 70px;
    height: 50px;
  }
  .pervy_div {
    margin-left: 90px;
    margin-top: -30px;
  }
  .vtoroy_div {
    margin-left: 440px;
    margin-top: -620px;
  }
  .tretye_div {
    margin-left: 90px;
    margin-top: 20px;
  }
  .chetverty_div {
    margin-top: -620px;
    margin-left: 440px;
  }
  .Smart_Camera {
    font-size: 25px;
    line-height: 30px;
  }
  .prosto_fotka {
    margin-left: 40px;
    width: 900px;
    height: 600px;
  }
  .div_blue {
    width: 1024px;
    height: 480px;
  }
  .Keeps_up_with {
    font-size: 20px;
    margin-left: 50px;
  }
  .Smart_Camera_automatically {
    font-size: 16px;
    margin-left: 50px;
  }
  .learn_moree {
    font-size: 16px;
    margin-left: 50px;
  }
  .Keeps_everyone_in {
    font-size: 20px;
    margin-left: 530px;
  }
  .As_more_people_enter {
    font-size: 16px;
    margin-left: 530px;
  }
  .learn_moree_2 {
    font-size: 16px;
    margin-left: 530px;
  }
  .foto_s_ikonkami {
    height: 450px;
    width: 500px;
    margin-left: -20px;
  }
  .twitter_foto {
    width: 50px;
    height: 50px;
    padding-right: 80px;
    margin-top: 8px;
  }
  .whatsap_foto {
    width: 50px;
    height: 50px;
    padding-top: -10px;
  }
  .tesssst {
    margin-left: -90px;
  }
  .Messenger_and_WhatsApp {
    font-size: 30px;
    line-height: 40px;
    margin-top: -350px;
    margin-left: 560px;
  }
  .pod_Messenger_and_WhatsApp {
    font-size: 18px;
    margin-left: 560px;
  }
  .Hey_Portal {
    font-size: 10px;
    margin-left: 560px;
  }
  .big_foto {
    margin-top: 90px;
  }
  .Be_the_story {
    font-size: 30px;
    line-height: 40px;
  }
  .palochka_golubaya {
    height: 140px;
    margin-top: 60px;
  }
  .AR_effects {
    font-size: 18px;
  }
  .Discover {
    margin-top: 20px;
  }
  .AR_masks {
    margin-top: -20px;
  }
  .logo_2 {
    width: 50px;
    margin-left: 30px;
  }
  .Alexa_Built {
    font-size: 26px;
    margin-left: 30px;
  }
  .Just_ask {
    margin-top: -10px;
    font-size: 16px;
    margin-left: 30px;
  }
  .planhet_foto {
    width: 600px;
    height: 400px;
    margin-left: 400px;
  }
  .button_Learn_More {
    margin-left: 30px;
    font-size: 12px;
    width: 120px;
  }
  .Amazon_Alexa_and_all {
    font-size: 12px;
    margin-top: 80px;
    margin-left: 460px;
  }
  ._1_foto_s_textom {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 80px;
  }
  ._2_foto_s_textom {
    width: 400px;
    height: 400px;
    margin-top: -148px;
    margin-left: 530px;
  }
  .Private_by_design {
    font-size: 20px;
    margin-top: -380px;
  }
  .And_all_Portal_video {
    font-size: 12px;
    line-height: 20px;
  }
  .text_na_foto_pod_pod_girny {
    font-size: 14px;
    margin-top: -10px;
  }
  .Work_smarter_from_home {
    font-size: 20px;
    margin-top: -380px;
    margin-left: 550px;
  }
  .BlueJeans {
    font-size: 12px;
    line-height: 20px;
    margin-left: 550px;
  }
  .text_na_foto_pod_pod_girny_belyy {
    font-size: 14px;
    margin-top: -10px;
    margin-left: 550px;
  }
  .niz_goluboy_div {
    height: 1700px;
    width: 1024px;
  }
  .Find_the_Portal {
    font-size: 30px;
    line-height: 40px;
    margin-left: 80px;
    margin-top: -90px;
  }
  .tehnika_2 {
    width: 70px;
    height: 50px;
    margin-left: 70px;
  }
  .text_na_rozovom_2 {
    font-size: 16px;
    margin-left: 150px;
  }
  .Ship_to_multiple_2 {
    font-size: 16px;
    margin-left: 150px;
  }
  .malenky_div_1 {
    margin-left: 200px;
  }
  .malenky_div_2 {
    margin-left: 500px;
  }
  .malenky_div_3 {
    margin-left: 200px;
    margin-top: 20px;
  }
  .malenky_div_4 {
    margin-left: 500px;
    margin-top: -530px;
  }
  .Compare_Products {
    margin-left: 380px;
  }
  .div_pdvala {
    width: 1024px;
  }
  .logo_v_nizu {
    width: 90px;
    height: 40px;
    margin-left: 30px;
    margin-top: -40px;
  }
  ._1_stolbec_text_podvala {
    margin-left: -140px;
  }
  ._2_stolbec_text_podvala {
    margin-left: 40px;
  }
  .text_podval_sleva {
    margin-left: 650px;
  }
  .Compare_Products_2 {
    margin-left: 650px;
  }
  .div_podval_malenky {
    margin-left: 650px;
    margin-top: 20px;
  }
  .bolchoy_text_vnizu_1 {
    margin-left: 240px;
  }
  .bolchoy_text_vnizu_2 {
    margin-left: 240px;
  }
  .bolchoy_text_vnizu_3 {
    margin-left: 240px;
  }
}
@media (max-width: 768px) {
  .logo {
    margin-left: 30px;
    width: 60px;
    margin-top: 20px;
  }
  ul {
    margin-left: 90px;
    font-size: 12px;
    margin-top: -40px;
  }
  .LogInto {
    margin-left: -30px;
  }
  .big_text_na_foto {
    font-size: 18px;
    line-height: 22px;
    margin-top: -300px;
    margin-left: 30px;
  }
  .text_pod_text_pod_foto {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 12px;
  }
  .Watch_the_Demo {
    margin-left: 30px;
    width: 100px;
    font-size: 10px;
  }
  .Compare_Portals {
    margin-left: 120px;
    margin-top: -50px;
    font-size: 12px;
  }
  .pink {
    margin-top: 80px;
    width: 250px;
    height: 60px;
  }
  .text_na_rozovom {
    font-size: 10px;
    margin-left: 100px;
    margin-top: -50px;
  }
  .Ship_to_multiple {
    line-height: 12px;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 100px;
  }
  .tehnika {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .pervy_div {
    height: 500px;
    margin-left: 90px;
    margin-top: -30px;
  }
  .vtoroy_div {
    margin-left: 90px;
    margin-top: 120px;
  }
  .tretye_div {
    margin-left: 90px;
    margin-top: 20px;
  }
  .chetverty_div {
    margin-top: 20px;
    margin-left: 90px;
  }
  .Smart_Camera {
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
  }
  .prosto_fotka {
    margin-left: 40px;
    width: 600px;
    height: 400px;
  }
  .div_blue {
    width: 768px;
    height: 480px;
  }
  .Keeps_up_with {
    font-size: 16px;
    margin-left: 40px;
    margin-top: -140px;
  }
  .Smart_Camera_automatically {
    font-size: 14px;
    margin-left: 40px;
  }
  .learn_moree {
    font-size: 14px;
    margin-left: 40px;
  }
  .Keeps_everyone_in {
    font-size: 16px;
    margin-left: 360px;
  }
  .As_more_people_enter {
    font-size: 14px;
    margin-left: 360px;
  }
  .learn_moree_2 {
    font-size: 14px;
    margin-left: 360px;
  }
  .foto_s_ikonkami {
    height: 350px;
    width: 400px;
    margin-left: -70px;
  }
  .twitter_foto {
    width: 50px;
    height: 50px;
    padding-left: -90px;
    margin-top: 8px;
  }
  .whatsap_foto {
    width: 50px;
    height: 50px;
    padding-top: -50px;
  }
  .tesssst {
    margin-left: -300px;
  }
  .Messenger_and_WhatsApp {
    font-size: 20px;
    line-height: 30px;
    margin-top: -250px;
    margin-left: 350px;
  }
  .pod_Messenger_and_WhatsApp {
    font-size: 16px;
    margin-left: 350px;
    margin-top: -10px;
  }
  .Hey_Portal {
    font-size: 9px;
    margin-left: 350px;
    margin-top: -10px;
  }
  .big_foto {
    margin-top: 90px;
  }
  .Be_the_story {
    font-size: 20px;
    line-height: 30px;
    margin-top: -300px;
  }
  .palochka_golubaya {
    height: 120px;
    margin-top: 60px;
  }
  .AR_effects {
    font-size: 14px;
  }
  .Discover {
    margin-top: 18px;
  }
  .AR_masks {
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
  }
  .picture-perfect {
    font-weight: 400;
    font-size: 15px;
  }
  .logo_2 {
    width: 50px;
    margin-left: 150px;
    margin-top: -10px;
  }
  .Alexa_Built {
    font-size: 24px;
    margin-left: 210px;
    margin-top: -760px;
  }
  .Just_ask {
    margin-top: -10px;
    font-size: 16px;
    margin-left: 150px;
  }
  .planhet_foto {
    width: 600px;
    height: 400px;
    margin-left: 50px;
    margin-top: 300px;
  }
  .button_Learn_More {
    margin-left: 300px;
    font-size: 12px;
    width: 120px;
  }
  .Amazon_Alexa_and_all {
    font-size: 12px;
    margin-top: 50px;
    margin-left: 120px;
  }
  ._1_foto_s_textom {
    width: 400px;
    height: 400px;
    margin-top: 460px;
    margin-left: 160px;
  }
  ._2_foto_s_textom {
    width: 400px;
    height: 400px;
    margin-top: 300px;
    margin-left: 150px;
  }
  .Private_by_design {
    font-size: 18px;
    margin-top: -380px;
    margin-left: 180px;
  }
  .And_all_Portal_video {
    font-size: 12px;
    line-height: 20px;
    margin-left: 180px;
  }
  .text_na_foto_pod_pod_girny {
    font-size: 14px;
    margin-top: -10px;
    margin-left: 180px;
  }
  .Work_smarter_from_home {
    font-size: 18px;
    margin-top: -380px;
    margin-left: 180px;
  }
  .BlueJeans {
    font-size: 12px;
    line-height: 20px;
    margin-left: 180px;
  }
  .text_na_foto_pod_pod_girny_belyy {
    font-size: 14px;
    margin-top: -10px;
    margin-left: 180px;
  }
  .niz_goluboy_div {
    height: 1700px;
    width: 760px;
  }
  .Find_the_Portal {
    font-size: 20px;
    line-height: 30px;
    margin-left: 250px;
    margin-top: -90px;
  }
  .tehnika_2 {
    width: 50px;
    height: 40px;
    margin-left: 180px;
  }
  .text_na_rozovom_2 {
    font-size: 16px;
    margin-top: -50px;
    margin-left: 260px;
  }
  .Ship_to_multiple_2 {
    font-size: 16px;
    margin-left: 260px;
  }
  .malenky_div_1 {
    margin-left: 60px;
  }
  .malenky_div_2 {
    margin-left: 360px;
  }
  .malenky_div_3 {
    margin-left: 60px;
    margin-top: 50px;
  }
  .malenky_div_4 {
    margin-left: 360px;
    margin-top: -530px;
  }
  .Compare_Products {
    margin-left: 250px;
  }
  .div_pdvala {
    width: 760px;
    height: 800px;
  }
  .logo_v_nizu {
    width: 90px;
    height: 40px;
    margin-left: 90px;
    margin-top: -40px;
  }
  ._1_stolbec_text_podvala {
    margin-left: -100px;
  }
  ._2_stolbec_text_podvala {
    margin-left: 80px;
  }
  .text_podval_sleva {
    margin-left: 280px;
    margin-top: 40px;
  }
  .Compare_Products_2 {
    margin-left: 280px;
  }
  .div_podval_malenky {
    margin-left: 280px;
    margin-top: 20px;
  }
  .bolchoy_text_vnizu_1 {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 280px;
  }
  .bolchoy_text_vnizu_2 {
    font-size: 10px;
    margin-left: 280px;
  }
  .bolchoy_text_vnizu_3 {
    font-size: 10px;
    margin-left: 280px;
  }
}
@media (max-width: 460px) {
  .logo {
    margin-left: 30px;
    width: 50px;
    margin-top: 20px;
  }
  ul {
    margin-left: 90px;
    font-size: 12px;
    margin-top: -40px;
    word-spacing: 10%;
  }
  .LogInto {
    margin-left: -30px;
  }
  .big_text_na_foto {
    font-size: 14px;
    line-height: 18px;
    margin-top: -200px;
    margin-left: 30px;
  }
  .text_pod_text_pod_foto {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 8px;
  }
  .Watch_the_Demo {
    margin-left: 30px;
    width: 80px;
    height: 40px;
    font-size: 8px;
  }
  .Compare_Portals {
    margin-left: 55px;
    margin-top: -45px;
    font-size: 8px;
  }
  .pink {
    margin-top: 10px;
    width: 180px;
    height: 40px;
  }
  .text_na_rozovom {
    font-size: 8px;
    line-height: 10px;
    margin-left: 80px;
    margin-top: -40px;
  }
  .Ship_to_multiple {
    line-height: 10px;
    font-size: 8px;
    margin-top: 5px;
    margin-left: 80px;
  }
  .tehnika {
    width: 40px;
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
  }
  .pervy_div {
    height: 500px;
    margin-left: -20px;
    margin-top: -30px;
  }
  .vtoroy_div {
    margin-left: -20px;
    margin-top: 120px;
  }
  .tretye_div {
    margin-left: -20px;
    margin-top: 20px;
  }
  .chetverty_div {
    margin-top: 20px;
    margin-left: -20px;
  }
  .Smart_Camera {
    font-size: 18px;
    line-height: 30px;
    margin-left: 80px;
  }
  .prosto_fotka {
    margin-left: 40px;
    width: 350px;
    height: 300px;
  }
  .div_blue {
    width: 450px;
    height: 600px;
  }
  .Keeps_up_with {
    font-size: 16px;
    margin-left: 40px;
    margin-top: -140px;
  }
  .Smart_Camera_automatically {
    font-size: 14px;
    margin-left: 40px;
  }
  .learn_moree {
    font-size: 14px;
    margin-left: 40px;
  }
  .Keeps_everyone_in {
    font-size: 16px;
    margin-left: 40px;
    margin-top: -270px;
  }
  .As_more_people_enter {
    font-size: 14px;
    margin-left: 40px;
    margin-top: -10px;
  }
  .learn_moree_2 {
    font-size: 14px;
    margin-left: 40px;
    margin-top: -10px;
  }
  .foto_s_ikonkami {
    height: 350px;
    width: 400px;
    margin-top: -700px;
    margin-left: -10px;
  }
  .twitter_foto {
    width: 50px;
    height: 50px;
    margin-left: 300px;
    margin-top: 700px;
  }
  .whatsap_foto {
    width: 50px;
    height: 50px;
    padding-top: -50px;
  }
  .tesssst {
    margin-left: -300px;
    margin-top: -500px;
  }
  .Messenger_and_WhatsApp {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 90px;
  }
  .pod_Messenger_and_WhatsApp {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 90px;
  }
  .Hey_Portal {
    font-size: 9px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 90px;
  }
  .big_foto {
    margin-top: 60px;
  }
  .Be_the_story {
    font-size: 16px;
    line-height: 30px;
    margin-top: -200px;
  }
  .palochka_golubaya {
    font-size: 14px;
    height: 110px;
    margin-top: 60px;
  }
  .AR_effects {
    font-size: 12px;
  }
  .Discover {
    margin-top: 14px;
  }
  .AR_masks {
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
  }
  .picture-perfect {
    color: black;
    font-weight: 400;
    font-size: 15px;
  }
  .logo_2 {
    width: 40px;
    margin-left: 60px;
    margin-top: -10px;
  }
  .Alexa_Built {
    font-size: 20px;
    margin-left: 140px;
    margin-top: -660px;
  }
  .Just_ask {
    margin-top: 40px;
    font-size: 16px;
    margin-left: 60px;
  }
  .planhet_foto {
    width: 300px;
    height: 200px;
    margin-left: 60px;
    margin-top: 400px;
  }
  .button_Learn_More {
    margin-left: 150px;
    font-size: 12px;
    margin-top: 10px;
    width: 120px;
  }
  .Amazon_Alexa_and_all {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
  }
  ._1_foto_s_textom {
    width: 300px;
    height: 300px;
    margin-top: 260px;
    margin-left: 80px;
  }
  ._2_foto_s_textom {
    width: 300px;
    height: 300px;
    margin-top: 260px;
    margin-left: 70px;
  }
  .Private_by_design {
    font-size: 14px;
    margin-top: -300px;
    margin-left: 100px;
  }
  .And_all_Portal_video {
    font-size: 9px;
    line-height: 18px;
    margin-left: 100px;
  }
  .text_na_foto_pod_pod_girny {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 100px;
  }
  .Work_smarter_from_home {
    font-size: 14px;
    margin-top: -300px;
    margin-left: 90px;
  }
  .BlueJeans {
    font-size: 9px;
    line-height: 18px;
    margin-left: 90px;
  }
  .text_na_foto_pod_pod_girny_belyy {
    font-size: 10px;
    margin-top: -10px;
    margin-left: 90px;
  }
  .niz_goluboy_div {
    height: 2900px;
    width: 430px;
  }
  .Find_the_Portal {
    font-size: 16px;
    line-height: 30px;
    margin-left: 90px;
    margin-top: -160px;
  }
  .tehnika_2 {
    width: 50px;
    height: 40px;
    margin-left: 90px;
  }
  .text_na_rozovom_2 {
    font-size: 16px;
    margin-top: -50px;
    margin-left: 150px;
  }
  .Ship_to_multiple_2 {
    font-size: 16px;
    margin-left: 150px;
  }
  .malenky_div_1 {
    margin-left: 80px;
  }
  .malenky_div_2 {
    margin-top: 60px;
    margin-left: 80px;
  }
  .malenky_div_3 {
    margin-left: 80px;
    margin-top: 50px;
  }
  .malenky_div_4 {
    margin-top: 60px;
    margin-left: 80px;
  }
  .Compare_Products {
    margin-left: 120px;
  }
  .div_pdvala {
    width: 430px;
    height: 850px;
  }
  .logo_v_nizu {
    width: 70px;
    height: 30px;
    margin-left: 30px;
    margin-top: -60px;
  }
  ._1_stolbec_text_podvala {
    margin-left: -220px;
    margin-top: 30px;
  }
  ._2_stolbec_text_podvala {
    margin-left: -100px;
    margin-top: -237px;
  }
  .text_podval_sleva {
    margin-left: 150px;
    margin-top: 40px;
  }
  .Compare_Products_2 {
    margin-left: 150px;
  }
  .div_podval_malenky {
    margin-left: 150px;
    margin-top: 20px;
  }
  .bolchoy_text_vnizu_1 {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .bolchoy_text_vnizu_2 {
    font-size: 10px;
    margin-left: 10px;
  }
  .bolchoy_text_vnizu_3 {
    font-size: 10px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=1_практическая.css.map */