$dark-color: #1B365D;
$menee-dark-color: #434141;
$sery: #615E5C;
$bely: rgb(255, 255, 255);
$cvet_text_podval: #DADBDD;

body{
    background-color: $bely;
    font-family: "Roboto", sans-serif;
}
.bigdiv{
    max-width: 1200px;
    margin:0 auto;
}
ul {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color;
    font-size: 16px;
    font-weight: 400;
    margin-left: 350px;
    cursor: pointer; 
    }
li {
    list-style: none;
    padding-left: 80px;
    margin-top: 5px;    
}
.LogInto{
    margin-left: 70px;
    width: 92px;
    height: 29px; 
    color: $dark-color;
    cursor: pointer; 
    background-color: $bely;
    font-size: 11px;
    font-weight: 700;
    border:1px solid  #A7BBC9;
    border-radius: 7%;
}
.logo{
    margin-left: 30px;
    margin-top: 10px;
}
