.big_foto{
    margin-top: 200px;
    width: 98vw;
    position: relative;
}
.Be_the_story{
    margin-top: -340px;
    color: $bely;
    margin-left: 20px;
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
}
.palochka_golubaya{
    border-left: 4px solid #ADD4E0;
    width: 800px;
    position: relative;
    margin-left: 50px;
    height: 200px;
}
.AR_effects{
    margin-left: 20px;
    color: $bely;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin-top: -10px;
}
.palochka_seraya_1{
    border-left: 4px solid $sery;
    width: 800px;
    position: relative;
    margin-left: 50px;
    height: 20px;
    margin-top: -20px;
}
.Discover{
    margin-left: 20px;
    color: $bely;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.AR_masks{
    margin-left: 20px;
    color: $bely;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    margin-top: 10px;
    border-radius: 50%;
}
.palochka_seraya_2{
    border-left: 4px solid $sery;
    width: 800px;
    position: relative;
    margin-left: 50px;
    height: 20px;
    margin-top: 40px;
}
.picture-perfect{
    margin-left: 20px;
    color: $bely;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    margin-top: 10px;
    border-radius: 50%;
}
.palochka_seraya_3{
    border-left: 4px solid $sery;
    width: 800px;
    position: relative;
    margin-left: 50px;
    height: 20px;
    margin-top: 20px;
}