.planhet_foto{
    width: 790px;
    height: 400px;
    margin-top: -70px;
    margin-left: 450px;
}
.logo_2{
    position: relative;
    padding-top: 110px;
    margin-left: 60px;
}
.Alexa_Built{
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: $dark-color;
    margin-top: -320px;
    margin-left: 60px;
}
.Just_ask{
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $dark-color;
    margin-top: 10px;
    margin-left: 60px;
}
.button_Learn_More{
    margin-top: 20px;
    margin-left: 60px;
    width: 126px;
    height: 46px;
    line-height: 20px;
    color: $dark-color;
    cursor: pointer;
    background-color: #ADD4E0;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 40%;
}
.Amazon_Alexa_and_all{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #AEABA8;
    margin-top: 60px;
    margin-left: 640px;
}