.niz_goluboy_div{
    background-color: #D0E7EA;
    height: 1200px;
    width: 1200px;
    margin-top: 80px;
}
.Find_the_Portal{
    margin-left: 40px;
    padding-top: 300px;
    color: $dark-color;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}
.tehnika_2{
    margin-top: 0px;
    margin-left: 40px;
    width: 84px;
    height: 54px;
}
.text_na_rozovom_2{
    color: $dark-color;
    cursor: pointer;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin-left: 140px;
    margin-top: -60px;
}
.Ship_to_multiple_2{
    color: $dark-color;
    cursor: pointer;
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    margin-left: 140px;
    margin-top: -12px;
}
