@media(max-width: 768px){
    .logo{
        margin-left: 30px;
        width: 60px;
        margin-top: 20px;
    }
    ul{
        margin-left: 90px;
        font-size: 12px;
        margin-top: -40px;
    }
    .LogInto{
        margin-left: -30px;
    }
    .big_text_na_foto{
        font-size: 18px;
        line-height: 22px;
        margin-top: -300px;
        margin-left: 30px;
    }
    .text_pod_text_pod_foto{
        margin-top: 10px;
        margin-left: 30px;
        font-size: 12px;
    }
    .Watch_the_Demo{
        margin-left: 30px;
        width: 100px;
        font-size: 10px;
    }
    .Compare_Portals{
        margin-left: 120px;
        margin-top: -50px;
        font-size: 12px;
    }
    .pink{
        margin-top:80px;
        width: 250px;
        height: 60px;
    }
    .text_na_rozovom{
        font-size: 10px;
        margin-left: 100px;
        margin-top: -50px;
    }
    .Ship_to_multiple{
        line-height: 12px;
        font-size: 10px;
        margin-top: -10px;
        margin-left: 100px;
    }
    .tehnika{
        width: 50px;
        height: 40px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .pervy_div{
        height: 500px;
        margin-left: 90px;
        margin-top: -30px;
    }
    .vtoroy_div{
        margin-left: 90px;
        margin-top: 120px;
    }
    .tretye_div{
        margin-left: 90px;
        margin-top: 20px;
    }
    .chetverty_div{
        margin-top: 20px;
        margin-left: 90px;
    }
    .Smart_Camera{
        font-size: 20px;
        line-height: 30px;
        margin-left: 40px;
    }
    .prosto_fotka{
        margin-left: 40px;
        width: 600px;
        height: 400px;
    }
    .div_blue{
        width: 768px;
        height: 480px ;
    }
    .Keeps_up_with{
        font-size: 16px;
        margin-left: 40px;
        margin-top: -140px;
    }
    .Smart_Camera_automatically{
        font-size: 14px;
        margin-left: 40px;
    }
    .learn_moree{
        font-size: 14px;
        margin-left: 40px;
    }
    .Keeps_everyone_in{
        font-size: 16px;
        margin-left: 360px;
    }
    .As_more_people_enter{
        font-size: 14px;
        margin-left: 360px;
    }
    .learn_moree_2{
        font-size: 14px;
        margin-left: 360px;
    }
    .foto_s_ikonkami{
        height: 350px;
        width: 400px;
        margin-left: -70px;
    }
    .twitter_foto{
        width: 50px;
        height: 50px;
        padding-left: -90px;
        margin-top: 8px;
    }
    .whatsap_foto{
        width: 50px;
        height: 50px;
        padding-top: -50px;
    }
    .tesssst{
        margin-left: -300px;
    }
    .Messenger_and_WhatsApp{
        font-size: 20px;
        line-height: 30px;
        margin-top: -250px;
        margin-left: 350px;
    }
    .pod_Messenger_and_WhatsApp{
        font-size: 16px;
        margin-left: 350px;
        margin-top: -10px;
    }
    .Hey_Portal{
        font-size: 9px;
        margin-left: 350px;
        margin-top: -10px;
    }
    .big_foto{
        margin-top: 90px;
    }
    .Be_the_story{
        font-size: 20px;
        line-height: 30px;
        margin-top: -300px;
    }
    .palochka_golubaya{
        height: 120px;
        margin-top: 60px;
    }
    .AR_effects{
        font-size: 14px;
    }
    .Discover{
        margin-top: 18px;
    }
    .AR_masks{
        font-weight: 400;
        font-size: 15px;
        margin-top: -20px;
    }
    .picture-perfect{
        font-weight: 400;
        font-size: 15px;
    }
    .logo_2{
        width: 50px;
        margin-left: 150px;
        margin-top: -10px;
    }
    .Alexa_Built{
        font-size: 24px;
        margin-left: 210px;
        margin-top: -760px;
    }
    .Just_ask{
        margin-top: -10px;
        font-size: 16px;
        margin-left: 150px;
    }
    .planhet_foto{
        width: 600px;
        height: 400px;
        margin-left: 50px;
        margin-top: 300px;
    }
    .button_Learn_More{
        margin-left: 300px;
        font-size: 12px;
        width: 120px;
    }
    .Amazon_Alexa_and_all{
        font-size: 12px;
        margin-top: 50px;
        margin-left: 120px;
    }
    ._1_foto_s_textom{
        width: 400px;
        height: 400px;
        margin-top: 460px;
        margin-left: 160px;
    }
    ._2_foto_s_textom{
        width: 400px;
        height: 400px;
        margin-top: 300px;
        margin-left: 150px;
    }
    .Private_by_design{
        font-size: 18px;
        margin-top: -380px;
        margin-left: 180px;
    }
    .And_all_Portal_video{
        font-size: 12px;
        line-height: 20px;
        margin-left: 180px;
    }
    .text_na_foto_pod_pod_girny{
        font-size: 14px;
        margin-top: -10px;
        margin-left: 180px;
    }
    .Work_smarter_from_home{
        font-size: 18px;
        margin-top: -380px;
        margin-left: 180px;
    }
    .BlueJeans{
        font-size: 12px;
        line-height: 20px;
        margin-left: 180px;
    }
    .text_na_foto_pod_pod_girny_belyy{
        font-size: 14px;
        margin-top: -10px;
        margin-left: 180px;
    }
    .niz_goluboy_div{
        height: 1700px;
        width: 760px;
    }
    .Find_the_Portal{
        font-size: 20px;
        line-height: 30px;
        margin-left: 250px;
        margin-top: -90px;
    }
    .tehnika_2{
        width: 50px;
        height: 40px;
        margin-left: 180px;
    }
    .text_na_rozovom_2{
        font-size: 16px;
        margin-top: -50px;
        margin-left: 260px;
    }
    .Ship_to_multiple_2{
        font-size: 16px;
        margin-left: 260px;
    }
    .malenky_div_1{
        margin-left: 60px;
    }
    .malenky_div_2{
        margin-left: 360px;
    }
    .malenky_div_3{
        margin-left: 60px;
        margin-top: 50px;
    }
    .malenky_div_4{
        margin-left: 360px;
        margin-top: -530px;
    }
    .Compare_Products{
        margin-left: 250px;
    }
    .div_pdvala{
        width: 760px;
        height: 800px;
    }
    .logo_v_nizu{
        width: 90px ;
        height: 40px;
        margin-left: 90px;
        margin-top: -40px;
    }
    ._1_stolbec_text_podvala{
        margin-left: -100px;
    }
    ._2_stolbec_text_podvala{
        margin-left: 80px;
    }
    .text_podval_sleva{
        margin-left: 280px;
        margin-top: 40px;
    }
    .Compare_Products_2{
        margin-left: 280px;
    }
    .div_podval_malenky{
        margin-left: 280px;
        margin-top: 20px;
    }
    .bolchoy_text_vnizu_1{
        font-size: 10px;
        margin-top: 10px;
        margin-left: 280px;
    }
    .bolchoy_text_vnizu_2{
        font-size: 10px;
        margin-left: 280px;
    }
    .bolchoy_text_vnizu_3{
        font-size: 10px;
        margin-left: 280px;
    }
}