@media(max-width: 460px){
    .logo{
        margin-left: 30px;
        width: 50px;
        margin-top: 20px;
    }
    ul{
        margin-left: 90px;
        font-size: 12px;
        margin-top: -40px;
        word-spacing: 10%;
    }

    .LogInto{
        margin-left: -30px;
    }
    .big_text_na_foto{
        font-size: 14px;
        line-height: 18px;
        margin-top: -200px;
        margin-left: 30px;
    }
    .text_pod_text_pod_foto{
        margin-top: 10px;
        margin-left: 30px;
        font-size: 8px;
    }
    .Watch_the_Demo{
        margin-left: 30px;
        width: 80px;
        height: 40px;
        font-size: 8px;
    }
    .Compare_Portals{
        margin-left: 55px;
        margin-top: -45px;
        font-size: 8px;
    }
    .pink{
        margin-top: 10px;
        width: 180px;
        height: 40px;
    }
    .text_na_rozovom{
        font-size: 8px;
        line-height: 10px;
        margin-left: 80px;
        margin-top: -40px;
    }
    .Ship_to_multiple{
        line-height: 10px;
        font-size: 8px;
        margin-top: 5px;
        margin-left: 80px;
    }
    .tehnika{
        width: 40px;
        height: 30px;
        margin-top: 5px;
        margin-left: 30px;
    }
    .pervy_div{
        height: 500px;
        margin-left: -20px;
        margin-top: -30px;
    }
    .vtoroy_div{
        margin-left: -20px;
        margin-top: 120px;
    }
    .tretye_div{
        margin-left: -20px;
        margin-top: 20px;
    }
    .chetverty_div{
        margin-top: 20px;
        margin-left: -20px;
    }
    .Smart_Camera{
        font-size: 18px;
        line-height: 30px;
        margin-left: 80px;
    }
    .prosto_fotka{
        margin-left: 40px;
        width: 350px;
        height: 300px;
    }
    .div_blue{
        width: 450px;
        height: 600px ;
    }
    .Keeps_up_with{
        font-size: 16px;
        margin-left: 40px;
        margin-top: -140px;
    }
    .Smart_Camera_automatically{
        font-size: 14px;
        margin-left: 40px;
    }
    .learn_moree{
        font-size: 14px;
        margin-left: 40px;
    }
    .Keeps_everyone_in{
        font-size: 16px;
        margin-left: 40px;
        margin-top: -270px;
    }
    .As_more_people_enter{
        font-size: 14px;
        margin-left: 40px;
        margin-top: -10px;
    }
    .learn_moree_2{
        font-size: 14px;
        margin-left: 40px;
        margin-top: -10px;
    }
    .foto_s_ikonkami{
        height: 350px;
        width: 400px;
        margin-top: -700px;
        margin-left: -10px;
    }
    .twitter_foto{
        width: 50px;
        height: 50px;
        margin-left: 300px;
        margin-top: 700px;
    }
    .whatsap_foto{
        width: 50px;
        height: 50px;
        padding-top: -50px;
    }
    .tesssst{
        margin-left: -300px;
        margin-top: -500px;
        
    }
    .Messenger_and_WhatsApp{
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        margin-left: 90px;
    }
    .pod_Messenger_and_WhatsApp{
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        margin-left: 90px;
    }
    .Hey_Portal{
        font-size: 9px;
        line-height: 20px;
        margin-top: 10px;
        margin-left: 90px;
    }
    .big_foto{
        margin-top: 60px;
    }
    .Be_the_story{
        font-size: 16px;
        line-height: 30px;
        margin-top: -200px;
    }
    .palochka_golubaya{
        font-size: 14px;
        height: 110px;
        margin-top: 60px;
    }
    .AR_effects{
        font-size: 12px;
    }
    .Discover{
        margin-top: 14px;
    }
    .AR_masks{
        color: black;
        font-weight: 400;
        font-size: 15px;
        margin-top: -20px;
    }
    .picture-perfect{
        color: black;
        font-weight: 400;
        font-size: 15px;
    }
    .logo_2{
        width: 40px;
        margin-left: 60px;
        margin-top: -10px;
    }
    .Alexa_Built{
        font-size: 20px;
        margin-left: 140px;
        margin-top: -660px;
    }
    .Just_ask{
        margin-top: 40px;
        font-size: 16px;
        margin-left: 60px;
    }
    .planhet_foto{
        width: 300px;
        height: 200px;
        margin-left: 60px;
        margin-top: 400px;
    }
    .button_Learn_More{
        margin-left: 150px;
        font-size: 12px;
        margin-top: 10px;
        width: 120px;
    }
    .Amazon_Alexa_and_all{
        font-size: 10px;
        text-align: center;
        margin-top: 30px;
        margin-left: 20px;
    }
    ._1_foto_s_textom{
        width: 300px;
        height: 300px;
        margin-top: 260px;
        margin-left: 80px;
    }
    ._2_foto_s_textom{
        width: 300px;
        height: 300px;
        margin-top: 260px;
        margin-left: 70px;
    }
    .Private_by_design{
        font-size: 14px;
        margin-top: -300px;
        margin-left: 100px;
    }
    .And_all_Portal_video{
        font-size: 9px;
        line-height: 18px;
        margin-left: 100px;
    }
    .text_na_foto_pod_pod_girny{
        font-size: 10px;
        margin-top: -10px;
        margin-left: 100px;
    }
    .Work_smarter_from_home{
        font-size: 14px;
        margin-top: -300px;
        margin-left: 90px;
    }
    .BlueJeans{
        font-size: 9px;
        line-height: 18px;
        margin-left: 90px;
    }
    .text_na_foto_pod_pod_girny_belyy{
        font-size: 10px;
        margin-top: -10px;
        margin-left: 90px;
    }
    .niz_goluboy_div{
        height: 2900px;
        width: 430px;
    }
    .Find_the_Portal{
        font-size: 16px;
        line-height: 30px;
        margin-left: 90px;
        margin-top: -160px;
    }
    .tehnika_2{
        width: 50px;
        height: 40px;
        margin-left: 90px;
    }
    .text_na_rozovom_2{
        font-size: 16px;
        margin-top: -50px;
        margin-left: 150px;
    }
    .Ship_to_multiple_2{
        font-size: 16px;
        margin-left: 150px;
    }
    .malenky_div_1{
        margin-left: 80px;
    }
    .malenky_div_2{
        margin-top: 60px;
        margin-left: 80px;
    }
    .malenky_div_3{
        margin-left: 80px;
        margin-top: 50px;
    }
    .malenky_div_4{
        margin-top: 60px;
        margin-left: 80px;
    }
    .Compare_Products{
        margin-left: 120px;
    }
    .div_pdvala{
        width: 430px;
        height: 850px;
    }
    .logo_v_nizu{
        width: 70px ;
        height: 30px;
        margin-left: 30px;
        margin-top: -60px;
    }
    ._1_stolbec_text_podvala{
        margin-left: -220px;
        margin-top: 30px;
    }
    ._2_stolbec_text_podvala{
        margin-left: -100px;
        margin-top: -237px;
    }
    .text_podval_sleva{
        margin-left: 150px;
        margin-top: 40px;
    }
    .Compare_Products_2{
        margin-left: 150px;
    }
    .div_podval_malenky{
        margin-left: 150px;
        margin-top: 20px;
    }
    .bolchoy_text_vnizu_1{
        font-size: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .bolchoy_text_vnizu_2{
        font-size: 10px;
        margin-left: 10px;
    }
    .bolchoy_text_vnizu_3{
        font-size: 10px;
        margin-left: 10px;
    }
}