@media(max-width: 1200px){
    .Watch_the_Demo{
        margin-left: 200px;
        width: 186px;
        height: 46px;
        line-height: 20px;
    }
}
@media(max-width: 1024px){
    .logo{
        margin-left: 30px;
    }
    ul{
        margin-left: 20px;
    }
    .big_text_na_foto{
        font-size: 40px;
        line-height: 40px;
        margin-top: -350px;
    }
    .text_pod_text_pod_foto{
        font-size: 18px;
    }
    .Watch_the_Demo{
        margin-left: 70px;
        width: 140px;
        font-size: 12px;
    }
    .Compare_Portals{
        margin-left: 190px;
        margin-top: -50px;
        font-size: 12px;
    }
    .pink{
        margin-top:60px;
        width: 340px;
        height: 80px;
    }
    .text_na_rozovom{
        font-size: 12px;
    }
    .Ship_to_multiple{
        line-height: 15px;
        font-size: 12px;
        margin-top: -10px;
    }
    .tehnika{
        width: 70px;
        height: 50px;
    }
    .pervy_div{
        margin-left: 90px;
        margin-top: -30px;
    }
    .vtoroy_div{
        margin-left: 440px;
        margin-top: -620px;
    }
    .tretye_div{
        margin-left: 90px;
        margin-top: 20px;
    }
    .chetverty_div{
        margin-top: -620px;
        margin-left: 440px;
    }
    .Smart_Camera{
        font-size: 25px;
        line-height: 30px;
    }
    .prosto_fotka{
        margin-left: 40px;
        width: 900px;
        height: 600px;
    }
    .div_blue{
        width: 1024px;
        height: 480px ;
    }
    .Keeps_up_with{
        font-size: 20px;
        margin-left: 50px;
    }
    .Smart_Camera_automatically{
        font-size: 16px;
        margin-left: 50px;
    }
    .learn_moree{
        font-size: 16px;
        margin-left: 50px;
    }
    .Keeps_everyone_in{
        font-size: 20px;
        margin-left: 530px;
    }
    .As_more_people_enter{
        font-size: 16px;
        margin-left: 530px;
    }
    .learn_moree_2{
        font-size: 16px;
        margin-left: 530px;
    }
    .foto_s_ikonkami{
        height: 450px;
        width: 500px;
        margin-left: -20px;
    }
    .twitter_foto{
        width: 50px;
        height: 50px;
        padding-right: 80px;
        margin-top: 8px;
    }
    .whatsap_foto{
        width: 50px;
        height: 50px;
        padding-top: -10px;
    }
    .tesssst{
        margin-left: -90px;
    }
    .Messenger_and_WhatsApp{
        font-size: 30px;
        line-height: 40px;
        margin-top: -350px;
        margin-left: 560px;
    }
    .pod_Messenger_and_WhatsApp{
        font-size: 18px;
        margin-left: 560px;
    }
    .Hey_Portal{
        font-size: 10px;
        margin-left: 560px;
    }
    .big_foto{
        margin-top: 90px;
    }
    .Be_the_story{
        font-size: 30px;
        line-height: 40px;
    }
    .palochka_golubaya{
        height: 140px;
        margin-top: 60px;
    }
    .AR_effects{
        font-size: 18px;
    }
    .Discover{
        margin-top: 20px;
    }
    .AR_masks{
        margin-top: -20px;
    }
    .logo_2{
        width: 50px;
        margin-left: 30px;
    }
    .Alexa_Built{
        font-size: 26px;
        margin-left: 30px;
    }
    .Just_ask{
        margin-top: -10px;
        font-size: 16px;
        margin-left: 30px;
    }
    .planhet_foto{
        width: 600px;
        height: 400px;
        margin-left: 400px;
    }
    .button_Learn_More{
        margin-left: 30px;
        font-size: 12px;
        width: 120px;
    }
    .Amazon_Alexa_and_all{
        font-size: 12px;
        margin-top: 80px;
        margin-left: 460px;
    }
    ._1_foto_s_textom{
        width: 400px;
        height: 400px;
        margin-top: 100px;
        margin-left: 80px;
    }
    ._2_foto_s_textom{
        width: 400px;
        height: 400px;
        margin-top: -148px;
        margin-left: 530px;
    }
    .Private_by_design{
        font-size: 20px;
        margin-top: -380px;
    }
    .And_all_Portal_video{
        font-size: 12px;
        line-height: 20px;
    }
    .text_na_foto_pod_pod_girny{
        font-size: 14px;
        margin-top: -10px;
    }
    .Work_smarter_from_home{
        font-size: 20px;
        margin-top: -380px;
        margin-left: 550px;
    }
    .BlueJeans{
        font-size: 12px;
        line-height: 20px;
        margin-left: 550px;
    }
    .text_na_foto_pod_pod_girny_belyy{
        font-size: 14px;
        margin-top: -10px;
        margin-left: 550px;
    }
    .niz_goluboy_div{
        height: 1700px;
        width: 1024px;
    }
    .Find_the_Portal{
        font-size: 30px;
        line-height: 40px;
        margin-left: 80px;
        margin-top: -90px;
    }
    .tehnika_2{
        width: 70px;
        height: 50px;
        margin-left: 70px;
    }
    .text_na_rozovom_2{
        font-size: 16px;
        margin-left: 150px;
    }
    .Ship_to_multiple_2{
        font-size: 16px;
        margin-left: 150px;
    }
    .malenky_div_1{
        margin-left: 200px;
    }
    .malenky_div_2{
        margin-left: 500px;
    }
    .malenky_div_3{
        margin-left: 200px;
        margin-top: 20px;
    }
    .malenky_div_4{
        margin-left: 500px;
        margin-top: -530px;
    }
    .Compare_Products{
        margin-left: 380px;
    }
    .div_pdvala{
        width: 1024px;
    }
    .logo_v_nizu{
        width: 90px ;
        height: 40px;
        margin-left: 30px;
        margin-top: -40px;
    }
    ._1_stolbec_text_podvala{
        margin-left: -140px;
    }
    ._2_stolbec_text_podvala{
        margin-left: 40px;
    }
    .text_podval_sleva{
        margin-left: 650px;
    }
    .Compare_Products_2{
        margin-left: 650px;
    }
    .div_podval_malenky{
        margin-left: 650px;
        margin-top: 20px;
    }
    .bolchoy_text_vnizu_1{
        margin-left: 240px;
    }
    .bolchoy_text_vnizu_2{
        margin-left: 240px;
    }
    .bolchoy_text_vnizu_3{
        margin-left: 240px;
    }
}